@import 'tailwindcss';


.gray3_txt {
	color:#B8B9BB;
}
.gray2_txt {
	color: #79747E;
}
.gray1 {
	background-color: #EEEEEE;
}


body.login-page {
  background-color: #3d843f; 
}

.sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
	padding: 30px;
	background-color: #3d843f;
	z-index: 0;
	overflow-x: hidden;
	color: white;
}
.hidden{
	display: none;
}

/* adjust main margin acc to sidebar */
.main {
	margin-left: 250px;
}
.header {
	font-size: 35px;
	font-weight: 450;
}

/* ELEMENTS */

#button {
	background-color: #3D843F;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 60%;
	padding: 2%;
	justify-self:center;
	color:white;
}

.stock {
	background-color: white;
	border-radius: 10px;
	width: 130px;
	padding: 20px;
	justify-items:center;
	color:black;
}

.tag {
	background-color: #3D843F;
	color:white;
	border-radius: 50px;
	height: 21px;
	width:fit-content;
	white-space: nowrap;
}


.whitebox {
	background-color: white;
	border-radius: 10px;
	width: 300px;
	padding: 20px;
	justify-items:start;
	color:black;
}
.circle {
	border-radius: 50%;
	width: 10px;
	padding: 7px;
}
.search {
	background-color: #EEEEEE;
	width: fit-content;
	height:fit-content;
	margin: 0%;
	color:#79747E;
	border-radius: 50px;
}
.search input:focus {
	outline: none;
	border:none;
	color:black;
}

#input:focus {
	outline: none;
	border:none;
}

#nostock {
	background-color: #F8C7C7;
	border-radius: 20px;
}
#lowstock {
	background-color: #FFF1BB;
	border-radius: 10px;
}

#pfp {
	border-radius: 50%;
	border: 2px solid #000; 
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	padding: 5%;
	background-color: #EEEEEE;
}

#input {
	padding: 2%;
	border-bottom: 2px solid;
	border-color: #EEEEEE;
	background-color: transparent;
	width: 100%;
	margin: 1%;
	justify-self:center;
	color:black;
}

#white_box {
	background-color: white;
	width: 35%;
	padding: 3.5%;
	margin: auto;
	border-radius: 20px;
}

#bg_faded{
	background-color: rgba(61, 132, 63, 0.35);
	width: full;
	height: 20%;
}

.button {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 2%;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 120px;
	justify-self:center;
}

.button.pressed {
	background-color: white;
	color: black;
}

#report {
	background-color: white;
	width: 40%;
	padding: 2%;
	border-radius: 20px;
}

#topimg {
	width: 400px;
}